html {
	font-family: monospace;
	overflow: hidden;
}

canvas {
	border: 3px solid;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	transition: width 1s, height 1s;
	width: 700px;
	height: 700px;
}

.user {
	font-size: 25px;
	float: right;
	/* margin-right: 20px; */
	text-decoration: none;
}

p,span {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	font-size: 25px;
}

.user:visited {color: blue;}

.user:hover {text-decoration: underline;}

.game-id {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	cursor: pointer;
}

.toast {
	position: absolute;
	left: 50%;
	top: 0;
	width: 100px;
	transform: translate(-50%);
	font-size: 25px;
	text-align: center;
	transition: top 0.8s, visible 0.3s;
	visibility: hidden;
	align-items: center;
	z-index: 100;
}

.toast span {
	border: 2px solid rgb(28, 237, 49);
	width: 110px;
	overflow: auto;
	border-radius: 20px;
	color: #fff;
	background-color: rgb(52, 235, 70);
	transform: scale(1.1);
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
}

.toast-show {
	top: 20px;
	visibility: visible;
	transform: translate(-50%,-50%);
}

.user-tips {
	position: absolute;
	left: 50%;
	transform: translate(-50%,50%);
	text-align: center;
	font-size: 20px;
	z-index: 10;
}

.waiting-for-opponent {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	font-size: 26px;
	z-index: 10;
	top: 5vh;
}

.userOptions {
	text-align: left;
	font-size: 18px;
	margin-top: 30px;
	border: 1px solid rgba(146, 143, 143, 0.6);
	width: fit-content;
	float: right;
	padding: 5px;
	position: absolute;
	right: 5px;
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.2s, visibility 0.2s;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.userOptionsShow {
	visibility: visible;
	transform: scale(1);
}

.userOptions a {
	cursor: pointer;
	text-decoration: none;
	color: rgb(0,0,0);
	/* margin: 3px; */
	font-weight: lighter;
}

.userOptions a:hover,.userOptions a:focus{background: lightgray;}

.about {
	position: absolute;
	left: 50%;
	top: 120vh;
	transform: translate(-50%,-50%);
	text-align: justify;
	font-size: 10px;
	z-index: 50;
	visibility: hidden;
	border-radius: 10px;
	width: 80%;
	height: fit-content;
	font-size: 14px;
	border: 1.5px solid rgba(146, 143, 143, 1);
	background: rgba(146, 143, 143, 0.8);
	border-radius: 10px;
	padding: 5px;
	line-height: 30px;
	backdrop-filter: blur(10px);
	transition: top 0.5s;
}

.about i {
	position: absolute;
	left: 96%;
	top: 15%;
	cursor: pointer;
	transform: scale(4);
	transition-duration: 0.3s;
	border-radius: 50%;
}

.about i:hover {
	background: black;
	color: white;
}

.about-show {
	visibility: visible;
	top: 50%;
}

@media only screen and (max-width: 700px) {
	canvas {
		width: 400px;
		height: 400px;
	}

	p,span,.user {
		font-size: 15px;
	}
}
